* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    scroll-behavior: smooth;
}


/* ********************************************media query starts**************************************** */

@media (max-width: 1200px) and (min-width: 992px) {
  .inner p {
    display: none;
  }
  .acc-image {
    width: 200px !important;
    height: 200px !important;
  }
}

@media (max-width: 992px) and (min-width: 768px) {
  .right-all-content .col-lg-6 {
    width: 50% !important;
  }
  .header-area .main-nav .logo img {
    width: 100%;
  }
  #accessories .right-content {
    margin-top: 30px;
  }
  #accessories .right-content .col-lg-6 {
    width: 50% !important;
  }
  #accessories .right-content .col-lg-6 .acc-image {
    width: 320px;
  }
  .subscribe form input {
    margin-bottom: 10px;
  }
  .subscribe .col-lg-4 {
    margin-top: 10px;
  }
  .signup-modal {
    width: 75% !important;
    left: 12vw !important;
  }
}

@media (max-width: 992px) {
  .main-nav .nav li a {
    font-size: 14px !important;
    letter-spacing: 0.5px !important;
  }
  .main-nav .nav > li {
    padding-left: 7px !important;
  }
  .pages-menu li,
  .features-menu li {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .sub-1::after {
    left: 42px !important;
    bottom: 32px !important;
  }

  .sub-2::after {
    left: 60px !important;
    bottom: 32px !important;
  }
  .container {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }

  .submenu > ul li a {
    font-size: 0.5rem !important;
  }
  footer ul,
  h4 {
    text-align: center;
  }
  footer .logo {
    margin-left: auto;
    margin-right: auto;
  }
#social-media .container{
  max-width: 90%;

}
#social-media .images{
  padding-right: 0 !important;
  padding-left: 0 !important;
}
}

@media (max-width: 768px) {
  .main-banner{
    padding-top: 130px !important;
  }
  .main-nav .nav li a {
    display: none !important;
  }
  .nav li {
    display: none !important;
  }
  .nav {
    display: none !important;
    overflow: hidden;
  }
  .header-area {
    background-color: #f7f7f7 !important;
  }
  .inner-content h4 {
    font-size: 30px !important;
  }
  .owl-nav button {
    display: none;
  }
  #accessories .col-lg-6 .acc-image {
    width: 100%;
    height: 375px;
    padding: 0;
  }
  #accessories .right-content {
    margin-top: 30px;
  }
  
  .signup-modal {
    width: 90% !important;
    left: 5vw !important;
  }
  #toggle-password {
    right: 5% !important;
  }
  #subscribe input {
    margin-bottom: 10px !important;
  }
  .lastest-pic img {
    width: 100%;
  }
  .login-modal {
    padding: 10px !important;
    padding-top : 35px !important ;
  }
.username , .password , .email , .login-btn{
  width: 80% !important;
}
.login-modal{
  width: 50% !important;
  right: 25% !important;
}



}
@media (min-width: 768px) {
  .hamburger {
    display: none !important;
  }
  .mobile-nav {
    display: none !important;
  }
  .s-size {
    display: none;
    visibility: hidden;
    overflow: hidden;
  }
}
@media (max-width: 600px) {
  .col-12 {
    padding-left: 40px !important;
    padding-right: 40px !important;
  }
  #toggle-password {
    right: 10% !important;
  }
  .owl-carousel{
    width: 80% !important;
  }
#accessories {
  width:90vw !important;
  margin-right:auto;
  margin-left: auto;
}
.owl-next {
  position: absolute;
  right: 0 !important;
}
.owl-prev {
  position: absolute;
  left: 0 !important;
}
.row{
  margin-left: 0 !important;
  margin-right: 0 !important;
}
.main-banner .right-all-content .col-lg-6{
  padding-left: 0;
  padding-right: 0;
}
.accessory .right-content .col-lg-6{
  padding-left: 0;
  padding-right: 0;
}
}
@media (max-width: 450px) {
  #accessories .col-lg-6 .acc-image{
    height: 275px;
  }
}
@media (max-width: 400px) {
  .main-banner .left-content .inner-content span {
    display: none !important;
  }
}


/* ********************************************media query ends**************************************** */

/* *******************************************preloader css start************************************ */
.loader {
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}
.loader.hidden {
  animation: fadeOut 1s;
  animation-fill-mode: forwards;
}
@keyframes fadeOut {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

/* *************************************preloader css ends********************************************** */

/* ****************************************header starts*********************************************** */

.header-area {
  border-bottom: 3px dotted #eee;
  box-shadow: none;
  background-color: #fff;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  z-index: 100;
  height: 100px;
  -webkit-transition: all 0.5s ease 0s;
  -moz-transition: all 0.5s ease 0s;
  -o-transition: all 0.5s ease 0s;
  transition: all 0.5s ease 0s;
}
.header-area .main-nav .logo {
  line-height: 90px;
  color: #fff;
  width: 130px;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  float: left;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

a {
  text-decoration: none !important;
}
.header-area .main-nav .nav {
  float: right;
  margin-top: 30px;
  margin-right: 0px;
  background-color: transparent;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  z-index: 999;
}
.header-area .main-nav .nav {
  display: flex !important;
  position: relative;
}
ul,
li {
  list-style: none;
}
.header-area .main-nav .nav li {
  padding-left: 15px;
  padding-right: 15px;
}
.header-area .main-nav .signup a,
.scroll-to-section a,
.submenu a {
  display: block;
  font-weight: 700;
  font-size: 15px;
  color: #2a2a2a;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  height: 40px;
  line-height: 40px;
  border: transparent;
  letter-spacing: 1.5px;
  transition: 0.8s;
}
.header-area .main-nav .nav li a:hover {
  color: #9c9c9c;
}
.header-sticky {
  position: fixed;
  top: 0;
  width: 100%;
  border-bottom: none;
  box-shadow: 1px 1px 10px 1px #dfdfdf;
}
.signup {
  position: relative;
  margin-left: 15px;
}
.signup-a-mob:hover {
  background-color: #5c5c5c !important;
  color: #fff !important;
}
.signup > a {
  padding-left: 15px;
  padding-right: 15px;
  border: 1px solid #e3e3e3 !important;
}
/* *******************************header dropdown starts************************************* */

.pages-menu {
  position: absolute;
  width: 180px;
  box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.06);
  overflow: hidden;
  top: 10px;
  opacity: 0;
  transform: translateY(-5px);
  visibility: hidden;
  z-index: -1;
  transition: all 0.3s ease-in-out 0s, visibility 0s linear 0.3s,
    z-index 0s linear 0.01s;
  transition: opacity 0.5s ease-in-out, transform 0.3s ease-in-out;
}
.submenu {
  position: relative;
}
.submenu:hover .pages-menu {
  overflow: visible !important;
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 100 !important;
  transform: translateY(35px) !important;
}
.submenu ul li a {
  opacity: 1;
  display: block;
  background: #f7f7f7;
  color: #2a2a2a !important;
  height: 40px;
  line-height: 40px;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  position: relative;
  font-size: 13px;
  font-weight: 400;
  border-bottom: 1px solid #eee;
}
.pages-menu li {
  padding-right: 0 !important;
  padding-left: 0 !important;
}
.pages-menu li a {
  padding-right: 5px;
  padding-left: 10px;
}
.pages-menu li a:hover {
  font-size: 15px !important;
  font-weight: 600 !important;
  color: #5b5959 !important;
  padding-left: 20px;
  background: white !important;
}
.sub-1::after {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 11px;
  color: #2a2a2a;
  position: relative;
  right: -50px;
  bottom: 30px;
}

/* *******************************header dropdown ends************************************* */

/* ***************************hamburger menu max 768 starts************************************ */
.hamburger {
  position: relative;
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background: none;
  outline: none;
  border: none;
  float: right;
  margin-top: 30px;
}
.hamburger .bar,
.hamburger:after,
.hamburger:before {
  content: "";
  display: block;
  width: 100%;
  height: 3px;
  background-color: #2a2a2a;
  margin: 6px 0px;
  transition: 0.4s;
}
.hamburger.is-active:after {
  transform: rotate(45deg) translate(-8px, -8px);
}
.hamburger.is-active:before {
  transform: rotate(-45deg) translate(-6px, 4px);
}
.hamburger.is-active .bar {
  opacity: 0;
}
.hamburger:focus {
  outline: none;
}
.mobile-nav {
  position: absolute;
  left: 25%;
  width: 75%;
  margin-right: auto !important;
  margin-left: auto !important;
  height: max-content;
  z-index: 95;
  background-color: #f7f7f7;
  display: block;
  padding-top: 100px;
  transition: 0.3s;
  overflow: hidden;
  opacity: 0;
  visibility: hidden;
}
.nav-pos {
  position: relative;
}
.mobile-nav a {
  display: block;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  padding: 10px;
  background-color: #f7f7f7;
  color: #2a2a2a;
  text-decoration: none;
  border-top: 1px solid #eee;
}
.mobile-nav a:hover {
  background-color: #eee;
  color: #2a2a2a;
}
.mobile-nav.is-active {
  opacity: 1;
  visibility: visible;
  left: 12.5%;
}
.page-menu-hamburger ul {
  opacity: 0;
  visibility: hidden;
  display: none !important;
  position: relative;
}
.page-menu-hamburger::before {
  font-family: FontAwesome;
  content: "\f107";
  font-size: 11px;
  color: #2a2a2a;
  position: absolute;
  right: 35%;
  bottom: 58px;
}
.page-menu-hamburger:hover .page-menu-ul {
  opacity: 1 !important;
  visibility: visible !important;
  display: block !important;
}
.mobile-nav {
  position: fixed;
}
.page-menu-item {
  font-size: 14px;
}
.signup-hamburger:hover {
  background-color: #5c5c5c !important;
  color: #fff !important;
}
.nav-pos ul {
  margin-bottom: 0;
}
/* ***************************hamburger menu max 768 ends************************************ */

/* ********************************header ends******************************************** */

/* ******************************sign up modal starts**************************** */

.signup-modal {
  background-color: #e8e8e8f4;
  color: #2a2a2a;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  height: 450px;
  position: absolute;
  z-index: 300;
  left: 25vw;
  top: 100px;
  padding: 20px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  display: none;
  transition: display 0.5s ease-in-out;
}
.signup-inner a {
  color: #2a2a2a;
  font-size: 12px;
}
.input-container input {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important ;
  padding: 3px;
  width: 60%;
}
.input-container input:focus {
  outline: none;
}
.input-container {
  text-align: center;
}
.signup-inner {
  text-align: center;
}
.signup-inner h4 {
  margin-bottom: 10px;
}
.remember-input {
  display: inline !important;
  width: 20px !important;
  font-size: 13px;
}
.login-btn:hover {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.input-container label {
  font-size: 13px;
}
.login-btn {
  display: block;
  margin-left: auto !important;
  margin-right: auto !important ;
  padding: 3px;
  width: 60%;
  outline: none;
  border: none;
  background: linear-gradient(
    90deg,
    rgba(42, 42, 42, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}
.login-btn:focus {
  border: none;
  outline: none;
}
.xmark {
  float: right;
}
.xmark a {
  font-size: 16px;
}
.signup-inner ul li a {
  font-size: 14px;
}
.signup-inner a:hover {
  color: #7a7a7a;
}
.signup-inner ul {
  display: flex;
  margin-bottom: 5px;
  width: 60%;
  justify-content: space-around;
  margin-left: auto;
  margin-right: auto;
}
.signup-inner h5 {
  border-top: 1px solid #afafaf;
  margin-top: 25px !important;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 15px;
  padding-bottom: 5px;
}
.login-modal {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  position: absolute;
  color: #ffffff;
  font-size: 1.8rem;
  width: 30%;
  height: 250px;
  z-index: 600;
  right: 35%;
  top: 185px;
  padding: 40px;
  text-align: center;
  vertical-align: middle;
  padding-top: 70px;
  display: none;
  transition: 0.3s;
}
.email-validation,
.password-validation,
.username-validation {
  font-size: 0.9rem;
  color: #d23030;
  visibility: hidden;
  transition: 0.3s;
}
.password {
  position: relative;
}
#toggle-password {
  position: absolute;
  top: 41%;
  left: 73%;
}
.active {
  display: inline;
}
/* ******************************sign up modal ends**************************** */

/* *********************************************main starts**************************************** */

/* ****************************main  banner****************************** */
html {
  scroll-behavior: smooth;
}

.main-banner {
  padding-top: 160px;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 3px dotted #eee;
}
.main-banner .left-content .inner-content {
  position: absolute;
  left: 100px;
  right: 100px;
  top: 50%;
  transform: translateY(-50%);
}
.main-banner .left-content .inner-content h4 {
  color: #fff;
  margin-top: -10px;
  font-size: 52px;
  font-weight: 700;
  margin-bottom: 20px;
}
.main-banner .left-content .inner-content span {
  font-size: 16px;
  color: #fff;
  font-weight: 400;
  font-style: italic;
  display: block;
  margin-bottom: 30px;
}
.main-border-button a {
  font-size: 13px;
  color: #fff;
  border: 1px solid #fff;
  padding: 12px 25px;
  display: inline-block;
  font-weight: 500;
  transition: all 0.3s;
}
.main-banner .left-content .thumb img {
  width: 100%;
  overflow: hidden;
}
.main-banner .right-content .right-first-image {
  margin-bottom: 28.5px;
}
.main-banner .right-content .right-first-image .thumb {
  position: relative;
  text-align: center;
}
.main-banner .right-content .right-first-image .thumb .inner-content {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  text-align: center;
}
.main-banner .right-content .right-first-image .thumb .hover-content .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.main-banner .right-content .right-first-image .thumb .inner-content h4 {
  color: #fff;
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 15px;
}
.main-banner .right-content .right-first-image .thumb .inner-content span {
  font-size: 16px;
  color: #fff;
  font-style: italic;
}
.main-banner .right-content .right-first-image .thumb .hover-content {
  position: absolute;
  top: 15px;
  right: 15px;
  left: 15px;
  bottom: 15px;
  text-align: center;
  align-items: center;
  background-color: rgba(42, 42, 42, 0.97);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  padding: 15px;
}
.main-banner .right-content .right-first-image .thumb img {
  width: 100%;
  overflow: hidden;
}
.right-first-image:hover .hover-content {
  opacity: 10 !important;
  visibility: visible !important;
}
.main-border-button a:hover {
  background-color: #eee;
  color: #2a2a2a;
}
.inner h4,
.inner p {
  color: #f7f7f7;
  padding: 5px;
}
.pad1 {
  padding-bottom: 20px !important;
}

/* **************************************main men women kids section**************************** */

.section {
  /* width: 90%; */
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 3px dotted #eee;
  /* margin-right: auto;
  margin-left: auto; */
}
.section .section-heading {
  margin-bottom: 20px;
}
.section-heading h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}
.section-heading span {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}

/* ********************************OWL Carousel******************************** */
.owl-carousel{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}
.owl-carousel.owl-loading {
  opacity: 1 !important;
}
.owl-stage-outer {
  position: relative;
}
.owl-prev {
  position: absolute;
  top: 37%;
  left: -60px;
}
.owl-next {
  position: absolute;
  top: 37%;
  right: -50px;
}
.owl-next i,
.owl-prev i {
  font-size: 40px;
}
.owl-next:focus,
.owl-prev:focus {
  outline: none;
  background: none !important;
}
.owl-theme .owl-nav [class*=owl-]:hover{
  background: #00000000 !important;
}
.item .thumb {
  position: relative;
}
.item {
  margin-right: 0 !important;
  width: 100%;
}
.item .thumb .hover-content {
  position: absolute;
  z-index: 2;
  text-align: center;
  bottom: 10px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(10px);
  transition: transform 0.3s ease-in-out;
}
.hover-content ul {
  margin-bottom: 0px;
}
.hover-content ul,
.hover-content li {
  padding: 0;
  margin: 0;
  list-style: none;
}
.item .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}
.item .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #ffffffc5;
}
.item .down-content {
  padding-top: 30px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}
.item .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}
.item .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}
.item .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 30px;
  display: flex;
}
.item .thumb img {
  max-height: 370px;
  height: 370px;
}
.down-content ul.stars li i {
  font-size: 10px;
}
.lastest-pic:hover .hover-content {
  opacity: 1 !important;
  visibility: visible !important;
  z-index: 100 !important;
  transform: translateY(-20px) !important;
}
.lastest-pic a:hover {
  background-color: #ffffff !important;
}
.owl-nav button:hover {
  background-color: #fff !important;
  color: #2a2a2a !important;
}

/* *********************************************accesory start**************************************** */
.accessory {
  padding-top: 40px;
  padding-bottom: 40px;
  border-bottom: 3px dotted #eee;
}
.left-content h2 {
  margin-bottom: 25px;
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}
.left-content span {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}
.left-content .quote {
  margin-top: 25px;
}
.left-content .quote i {
  float: left;
  font-size: 32px;
  margin-right: 15px;
  margin-top: 10px;
}
.left-content .quote p {
  font-style: italic;
  color: #2a2a2a;
  font-weight: 500;
}
.left-content p {
  font-size: 14px;
  color: #aaaaaa;
  font-weight: 500;
  display: block;
  margin-top: 25px;
}
.accessory .left-content .main-border-button a {
  border: 1px solid #2a2a2a;
  color: #2a2a2a;
}
.accessory .left-content .main-border-button a:hover {
  background-color: #2a2a2a;
  color: #fff;
}
.acc-image {
  width: 255px;
  height: 255px;
  position: relative;
  text-align: center;
  overflow: hidden;
  margin-bottom: 30px;
  margin-right: 0 !important;
}
.acc-image img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin-right: 0 !important;
  transition: all 0.3s;
  overflow-clip-margin: content-box;
}
.acc-image:hover img {
  scale: 1.2;
}
/* ******************************************social media************************************* */

#social-media .images {
  margin-bottom: 40px;
  margin-top: 40px;
  padding-left: 15px;
  padding-right: 15px;
}
#social-media .thumb {
  position: relative;
}
#social-media .thumb img {
  width: 100%;
  overflow: hidden;
}
#social-media .thumb .icon {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.427);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s;
}
#social-media .thumb .icon h6 {
  color: #fff;
  position: absolute;
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.5px;
  bottom: 30px;
  left: 10px;
}
#social-media .thumb .icon i {
  color: #fff;
  position: absolute;
  bottom: 10px;
  left: 10px;
}
#social-media .col-2 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}
#social-media .thumb:hover .icon {
  opacity: 1 !important;
  visibility: visible !important;
}

/* *********************************subscribe******************************** */

.subscribe {
  margin-top: 60px;
}
.subscribe .section-heading {
  margin-bottom: 30px;
}
.subscribe .section-heading h2 {
  line-height: 55px;
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}
.section-heading span {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}
.subscribe form input {
  width: 100%;
  height: 44px;
  line-height: 44px;
  padding: 0px 15px;
  font-size: 14px;
  font-style: italic;
  font-weight: 500;
  color: #aaa;
  border-radius: 0px;
  border: 1px solid #7a7a7a;
  box-shadow: none;
}
.subscribe form button {
  width: 44px;
  height: 44px;
  display: inline-block;
  text-align: center;
  line-height: 44px;
  background-color: #2a2a2a;
  box-shadow: none;
  border: 1px solid transparent;
  color: #fff;
  transition: all 0.3s;
}
.subscribe ul li {
  font-size: 16px;
  font-weight: 700;
  color: #2a2a2a;
  margin-bottom: 30px;
  display: block;
}

.subscribe ul li span,
.subscribe ul li span a {
  font-size: 14px;
  font-weight: 400;
  color: #aaa;
}

/* *********************************************main ends**************************************** */

/* *********************************************footer starts**************************************** */

footer {
  margin-top: 60px;
  padding: 60px 0px 30px 0px;
  background-color: #2a2a2a;
}
footer .logo {
  width: 190px;
  margin-bottom: 15px;
}
footer .logo img {
  width: 100%;
  border: none;
  margin-bottom: 15px;
}
footer ul li {
  display: block;
  margin-bottom: 10px;
}
footer ul li a {
  font-size: 16px;
  color: #fff;
  transition: all 0.3s;
}
footer h4 {
  margin-bottom: 15px;
  color: #fff;
  font-size: 22px;
}
footer ul li a:hover {
  color: #a1a1a1;
}
footer .col-lg-3 {
  padding-right: 15px !important;
  padding-left: 15px !important;
}
footer .under-footer {
  margin-top: 30px;
  padding-top: 30px;
  text-align: center;
  border-top: 1px solid rgba(250, 250, 250, 0.3);
}
footer .under-footer p {
  color: #fff;
  font-size: 14px;
  font-weight: 300;
}
footer .under-footer ul {
  margin-top: 20px;
}
footer .under-footer ul li {
  display: inline-block;
  margin: 0px 10px;
}
footer .under-footer ul li a {
  font-size: 22px;
}
footer .under-footer a {
  color: #cff;
}
