@media (max-width: 768px) {
  .mobile-nav {
    padding-top: 0px;
    top: 100px;
  }
}

.page-heading {
  margin-top: 160px;
  margin-bottom: 30px;
  background-image: url(../imges/products-page-heading.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
}
.page-heading .inner-content {
  padding: 150px 0px;
  text-align: center;
}
.page-heading .inner-content h2 {
  font-size: 52px;
  color: #fff;
  font-weight: 700;
  margin-bottom: 15px;
}
.page-heading .inner-content span {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  font-style: italic;
}
.section-heading {
  text-align: center !important;
  margin-bottom: 50px !important;
  margin-top: 10px !important;
}
.section-heading h2 {
  font-size: 34px;
  font-weight: 700;
  color: #2a2a2a;
}
.section-heading span {
  font-size: 14px;
  color: #a1a1a1;
  font-style: italic;
  font-weight: 400;
}
.each-product .thumb {
  position: relative;
}
.each-product .thumb .hover-content {
  position: absolute;
  z-index: 10;
  text-align: center;
  bottom: -50px;
  width: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(10px);
  transition: transform 0.3s ease-in-out;
}
.each-product .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}
.each-product .thumb .hover-content ul li {
  display: inline;
  margin: 0px 10px;
}
.each-product .thumb .hover-content ul li a {
  width: 50px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  display: inline-block;
  color: #2a2a2a;
  background-color: #ffffffc5;
}
.each-product .thumb img {
  width: 100% !important;
  overflow: hidden !important;
}
.each-product .down-content {
  padding-top: 20px;
  position: relative;
  z-index: 3;
  background-color: #fff;
}
.each-product .thumb img {
  max-height: 370px;
}
.each-product .down-content h4 {
  font-size: 22px;
  color: #2a2a2a;
  font-weight: 700;
  margin-bottom: 8px;
}
.each-product .down-content span {
  font-size: 18px;
  color: #a1a1a1;
  font-weight: 500;
  display: block;
}
.each-product .down-content ul.stars {
  position: absolute;
  right: 0;
  top: 20px;
}
.each-product .down-content ul.stars li {
  display: inline;
  font-size: 13px;
}
.each-product {
  margin-bottom: 30px;
}
.each-product .thumb:hover .hover-content {
  opacity: 1 !important;
  visibility: visible !important;
  bottom: 25px !important;
}
.each-product .thumb ul li a:hover {
  background-color: #fff;
}
.btnPagination {
  padding: 7px 17px;
  margin: 6px;
  color: #2a2a2a;
  outline: #2a2a2a;
  background-color: #fff;
  font-size: 1.5rem;
  transition: 0.3s;
}
.active-page {
  background-color: #2a2a2a;
  color: #fff;
}
.btnPagination:hover {
  color: #fff;
  background-color: #1f1f1f;
}
.page-number {
  align-items: center;
  text-align: center;
}
.section {
  border-bottom: none !important;
}
